.app {
    max-width: 500px;
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0px;
}

thead tr {
    background-color: #f2f2f2;
    font-size: small;
    font-weight: medium;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}